.boxContainer {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .error-message {
  color: white;
  background-color: #ea6d67;
  visibility: visible;
  position: absolute;
  left: 0%;
  top: 80%;
 }