.boxContainer {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .inputBox {
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: 1em;
    position: relative;
    margin-bottom: 20px;
  }
  input{
    height: 30px;
  }
  #labelBox{
    height: 40px;
    display: flex;
    align-items: start;
    color: black;
    font-size: larger;
    font-weight: 100;
  }
  .error-message {
  color: red;
  visibility: visible;
  position: absolute;
  top: 120%;
 }