.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    width: 25%;
    padding: 2em;
    border: 5px solid rgb(62, 63, 63);
    border-radius: 16px;
    background-image: url('../assets/books.svg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .sectionContainer{
    display: flex;
    justify-content: space-evenly;
  }
  button{
    width: 200px;
    height: 50px;
    border-radius: 6px;
    background-color: rgb(13, 223, 170);
    color: white;
    font-weight: bolder
  }
  .btnContainer{
    width: 100%;
    display: flex;
    justify-content: center;
  }